# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output and Data files
support_tickets/
log.txt
*.log
code/README.md

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
